includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
#        - identifier: missingType.generics
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./*/*/Resources/*.php
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false